body {
    transition: background-color 0.3s ease;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: grey;
    color: white;
  }
  
  .btn-dark {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  
  .btn-light {
    background-color: rgb(69, 69, 230);
    color: white;
  }
  